.ConfHeader {
  &__heading {
    @include respondAt(915px) {
        width: 100%;
        display: grid;
        place-items: center;
    }
    p {
      background: linear-gradient(rgba(200, 105, 4, 1), rgba(138, 55, 203, 1));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size: 2.3rem;
      font-family: "Outfit", sans-serif;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 5rem;
      width: 15rem;
      span {
        font-size: 4rem;
        font-weight: 600;
      }
      @include respondAt(915px) {
        font-size: 3rem;
        margin-left: 0;
        width: 15rem;
        text-align: center;
      }
    }
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respondAt(915px) {
        flex-direction: column;
    }
    &--divider {
        @include respondAt(915px) {
            display: none;
        }
    }
    &--slider {
      width: 60%;
      margin-right: 3rem;
    }
    &--content {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 60%;
      padding: 0 4rem 4rem 4rem;
      @include respondAt(915px) {
        padding: 0;
        align-items: center;
      }
      &__title {
        color: #fff;
        font-size: 2.5rem;
        font-family: "Outfit", sans-serif;
        font-weight: 600;
        @include respondAt(915px) {
            font-size: 2rem;
            margin-top: 3rem;
            margin-bottom: 0;
        }
      }
      &__desc {
        color: #fff;
        text-align: right;
        font-size: 1.5rem;
        width: 34.8125rem;
        font-family: "Poppins", sans-serif;
        @include respondAt(915px) {
            font-size: 1rem;
            text-align: center;
            width: 15rem;
        }
      }
      &__aftermovie {
        padding: 0.7rem 1rem 0.7rem 1rem;
        border-radius: 30px;
        border: 2px solid #c7751e;
        background: #212223;
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        @include respondAt(915px) {
            font-size: 1rem;
        }
      }
    }
  }
}
