.PastConfTitlesContainer {
  color: white;
  display: flex;
    justify-content: center;
    // width: 100vw;
  // justify-content: flex-start;
  align-items: center;
  &::-webkit-scrollbar {
    display: none;
  }
  // overflow-x: scroll;
  @include respondAt(915px) {
    border-radius: 20px;
    border: 2px solid #c7751e;
    background: #212223;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  &__card {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: #c7751e;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
    margin: 0 3rem 0 3rem;
    @include respondAt(915px) {
      margin: 0 2rem 0 2rem;
    }
    &--year {
      color: #fff;
      text-align: center;
      font-size: 3.25rem;
      font-family: "Outfit", sans-serif;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 0;
      @include respondAt(915px) {
        font-size: 2rem;
      }
    }
    &--title {
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-family: "Outfit", sans-serif;
      font-weight: 200;
      margin-top: 0;
      @include respondAt(915px) {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
  &__divider {
    width: 1.25rem;
    height: 1.25rem;
  }
}
