.Speakers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include respondAt(915px) {
    align-items: center;
  }
  &__heading {
    color: #000;
    font-family: "Bebas Neue", serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
    // margin-right: 2.5em;
    padding-right: 9rem;
    margin-top: 0;
    @include respondAt(915px) {
      width: 100vw;
      display: grid;
      place-items: center;
      font-size: 3rem;
      width: 20rem;
      margin-right: 0;
      padding-right: 0;
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
    &--card {
      margin: 1rem 2rem 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20rem;
      &__image {
        width: 20rem;
        height: 20rem;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        @include respondAt(915px) {
          width: 15rem;
          height: 12rem;
        }
      }
      &__details {
        background-color: #c7751e;
        border-bottom-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 0 0.7rem 0;
        @include respondAt(915px)
        {
          width: 15rem;
        }
        &__name {
          color: #fff;
          font-family: "Outfit", sans-serif;
          font-size: 1.5625rem;
          font-style: normal;
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 0;
          @include respondAt(915px) {
            font-size: 1.2rem;
          }
        }
        &__desc {
          color: white;
          font-size: 1.2rem;
          font-family: "Outfit", sans-serif;
          font-weight: 200;
          margin-top: 0;
          margin-bottom: 0;
          text-align: center;
          @include respondAt(915px) {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
