.Sponsors {
  display: grid;
  place-items: center;
  align-content: center;
  &__our {
    &--heading {
      color: black;
      font-family: "Bebas Neue", serif;
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      @include respondAt(767px) {
        font-size: 4rem;
      }
    }
    &--cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__image {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        @include respondAt(767px) {
          margin-right: 1.5rem;
          margin-left: 1.5rem;
          margin-bottom: 1rem;
        }
        img {
          width: 15rem;
          height: 8rem;
          @include respondAt(767px) {
            width: 12rem;
            height: 6rem;
          }
        }
      }
    }
  }
  &__past {
    &--heading {
      color: black;
      font-family: "Bebas Neue", serif;
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      @include respondAt(767px) {
        font-size: 4rem;
      }
    }
    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      &__content {
        border-radius: 1.1875rem;
        border: 2px solid #c7751e;
        background: #212223;
        width: 9rem;
        padding: 0.5625rem 1.1875rem;
        color: #fff;
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        margin-right: 2rem;
        cursor: pointer;
        @include respondAt(915px) {
          width: 10rem;
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
    &--cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__image {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        @include respondAt(767px) {
          margin-right: 1.5rem;
          margin-left: 1.5rem;
          margin-bottom: 1rem;
        }
        img {
          width: 15rem;
          height: 8rem;
          @include respondAt(767px) {
            width: 12rem;
            height: 6rem;
          }
        }
      }
    }
  }
}
