#slider2 {
  position: relative;
  width: 50%;
  height: 32vw;
  //   margin: 150px auto;
  // margin-left: 15rem;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 0;
  transform-style: preserve-3d;
  @include respondAt(915px) {
    width: 80%;
  }
}

.radio {
  position: relative;
  top: 85%;
  left: 24em;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  z-index: 100;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  @include respondAt(915px) {
    top: 120%;
    width: 13px;
    left: 95%;
  }
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider2 label,
#slider2 label img {
  position: absolute;
  width: 30rem;
  height: 85%;
  left: 10%;
  top: 5%;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: transform 400ms ease;
  @include respondAt(915px) {
    width: 120%;
    height: 100%;
    left: 4%;
  }
}

/* Slider Functionality */

/* Active Slide */
#s12:checked ~ #slide12,
#s22:checked ~ #slide22,
#s32:checked ~ #slide32,
#s42:checked ~ #slide42,
#s52:checked ~ #slide52 {
  //   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s12:checked ~ #slide22,
#s22:checked ~ #slide32,
#s32:checked ~ #slide42,
#s42:checked ~ #slide52,
#s52:checked ~ #slide12 {
  //   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

/* Next to Next Slide */
#s12:checked ~ #slide32,
#s22:checked ~ #slide42,
#s32:checked ~ #slide52,
#s42:checked ~ #slide12,
#s52:checked ~ #slide22 {
  //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s12:checked ~ #slide42,
#s22:checked ~ #slide52,
#s32:checked ~ #slide12,
#s42:checked ~ #slide22,
#s52:checked ~ #slide32 {
  //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s12:checked ~ #slide52,
#s22:checked ~ #slide12,
#s32:checked ~ #slide22,
#s42:checked ~ #slide32,
#s52:checked ~ #slide42 {
  //   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}
