.PastConf--carousel {
  width: 30rem;
  @include respondAt(767px) {
    width: 15rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center 10%;
    border-radius: 0.5rem;
  }
}
