.AdminMainContainer {
  padding-top: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
  }
  font-family: 'Inter', sans-serif;
}
.bordered-table {
    border-collapse: collapse;
    width: 100%;
}

.bordered-table th,
.bordered-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
}

.bordered-table th {
    background-color: #f2f2f2;
}


