.Confirm {
  .ConfirmSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__home {
      font-family: "Raleway", sans-serif;
      color: #000000;
      font-size: 1rem;
      border: 1.41px rgba(0, 0, 0, 0.2) solid;
      padding: 0.8rem 5rem 0.8rem 5rem;
      cursor: pointer;
    }
    &__image {
      width: 20rem;
    }
    &__thank {
      color: red;
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      margin-top: 2rem;
      margin-bottom: 0.4rem;
    }
    &__email {
      color: black;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 200;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
}
