.ContactUsSection {
  @include box(100vw, 100vh);
  background: url("/Images/Assets/overallbg.png"), lightgray 50%;
  background-size: cover;
  background-position: bottom;
  //   background-repeat: no-repeat;
  background-color: white;
  @include respondAt(915px) {
    padding-bottom: 3rem;
    height: 100%;
  }
  &__container {
    color: black;
    padding-top: 5rem;
    &--heading {
      font-size: 4.375rem;
      font-family: "Bebas Neue", serif;
      font-weight: 500;
      text-align: center;
      margin-left: 4.5rem;
      @include respondAt(915px) {
        width: 100vw;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
      }
    }
    &--details {
      display: flex;
      border-radius: 16px;
      background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.12) 0%,
        rgba(0, 0, 0, 0.3) 100%
      );
      backdrop-filter: blur(8.5px);
      align-items: center;
      justify-content: center;
      margin: 4rem;
      @include respondAt(915px) {
        flex-direction: column;
        margin-bottom: 0;
      }
      &__card {
        margin: 1rem 4rem 1rem 4rem;
        @include respondAt(915px) {
          margin: 1rem 2rem 1rem 2rem;
        }
        &--name,
        &--designation,
        &--phone {
          color: black;
          text-align: center;
          font-size: 1.875rem;
          font-family: "Outfit", sans-serif;
          font-weight: 500;
          @include respondAt(915px) {
            font-size: 1.3rem;
          }
        }
        // &--name {
        //   @include respondAt(915px) {
        //     font-size: 1.3rem;
        //   }
        // }
        // &--designation {
        //   @include respondAt(915px) {
        //     font-size: 1.2rem;
        //   }
        // }
        // &--phone {
        //   @include respondAt(915px) {
        //     font-size: 0.8rem;
        //   }
        // }
      }
    }
  }
}
