.DelegateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-image: url('/Images/Assets/overallbg.png');
  height: 100vh;
  @include respondAt(915px) {
    height: 100%;
    padding-top: 5rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    @include respondAt(915px) {
        font-size: 1.5rem;
        text-align: center;
    }
  }
  &__guesses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__guessinput {
        border-radius: .5rem;
        padding-left: .5rem;
        border: 1px solid rgb(158, 152, 152);
        margin: 1rem;
        width: 13rem;
        height: 2rem;
    }
  }
  &__input {
    width: 30rem;
    height: 2rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding-left: .5rem;
    border: 1px solid rgb(158, 152, 152);
    @include respondAt(915px) {
        width: 15rem;
    }
  }
  &__submit {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1rem;
    border: 1.41px rgba(0, 0, 0, 0.2) solid;
    padding: 0.8rem 5rem 0.8rem 5rem;
    cursor: pointer;
  }
}
