.LandingPageSection {
  background-image: url('/Images/LandingPage/landing_page.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: black;
}
.StatsSection {
  background-image: url('/Images/Stats/stats.png');
  background-size: cover;
  width: 100vw;
}
.AboutSection {
  background-image: url('/Images/AboutUs/about_us.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: black;
}
.PastSpeakersSection {
  background-image: url('/Images/PastSpeakers/past_speakers.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
}