.LandingPageSection {
  // background-image: url('/Images/LandingPage/landing_page.png');
  background-image: url('/Images/Assets/overallbg.png');
  width: 100vw;
  // height: 100vh;
  background-size: cover;
  background-color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.StatsSection {
  background-image: url('/Images/Assets/overallbg.png');
  background-size: cover;
  width: 100vw;
}
.AboutSection {
  background-image: url('/Images/Assets/overallbg.png');
  width: 100vw;
  // height: 100vh;
  background-size: cover;
  background-color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.PastSpeakersSection {
  background-image: url('/Images/Assets/overallbg.png');
  width: 100vw;
  // height: 100vh;
  background-size: cover;
  // background-color: black;
}
.SponsorsSection {
  background-image: url('/Images/Assets/overallbg.png');
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-color: black;
}