.PastConferencesSection {
  @include box(100vw, 100%);
  background: url("/Images/Assets/overallbg.png"), lightgray 50%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 5rem;
  display: block;
    position: fixed;
  &__container {
    // @include box(100%, 100%);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0rem 2rem 0 2rem;
    padding-top: 1.5rem;
    // background-color: rgba(0, 0, 0, 0.5);
    // background-color: white;
    &--heading {
      color: black;
      font-size: 5.625rem;
      font-family: "Bebas Neue", sans-serif;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 0.18rem;
      @include respondAt(915px)
      {
        font-size: 3rem;
        text-align: center;
        margin-right: 0;
      }
    }
    &--slider {
      display: flex;
      justify-content: center;
      padding: 3rem 6rem 1rem 6rem;
      @include respondAt(915px) {
        padding: 3rem 0 4rem 0;
      }
    }
    &--divider {
      width: 100vw;
      display: grid;
      place-items: center;
      @include respondAt(915px) {
        width: auto;
      }
      &__image {
        margin: 1rem 0 2rem 0rem;
        @include respondAt(915px) {
          width: 15rem;
        }
      }
    }
  }
}
