.AllSponsors {
  @include box(100vw, 100%);
  background: url("/Images/Assets/overallbg.png"), lightgray 50%;
  background-size: cover;
  background-position: bottom;
  //   background-repeat: no-repeat;
  background-color: white;
  padding-top: 5rem;
  &__heading {
    font-size: 4.375rem;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    text-align: center;
    margin-left: 4.5rem;
    @include respondAt(915px) {
      width: 100vw;
      text-align: center;
      font-size: 2.5rem;
      margin-left: 0;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--image {
      margin-right: 2rem;
      margin-left: 2rem;
      margin-bottom: 1.5rem;
      @include respondAt(767px) {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }
      img {
        width: 15rem;
        height: 8rem;
        @include respondAt(767px) {
          width: 12rem;
          height: 6rem;
        }
      }
    }
  }
}
