.PastSpeakers {
    padding-top: 3rem;
    padding-bottom: 7rem;
  &__heading {
    color: #000;
    font-family: "Bebas Neue", serif;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 400;
    // line-height: 2.5rem; /* 58.824% */
    letter-spacing: 0.1275rem;
    text-align: center;
    padding-top: 5rem;
  }
  &__cards {
    display: flex;
    justify-content: center;
    .container{
      padding: 1em 0;
      float: left;
      width: 50%;
    }
    @media screen and (max-width: 640px){
      .container{
        display: block;
        width: 100%;
      }
    }
    
    @media screen and (min-width: 900px){
      .container{
        width: 33.33333%;
      }
    }
    
    .container .title{
      color: #1a1a1a;
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
    }
    
    .content {
      position: relative;
      width: 60%;
      max-width: 400px;
      margin: auto;
      overflow: hidden;
    }
    .content-title, .content-text {
      font-family: 'Poppins', sans-serif;
    }

    .content-text {
      padding-left: .5rem;
      padding-right: .5rem;
    }
    
    .content .content-overlay {
      background: rgba(0,0,0,0.7);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }
    
    .content:hover .content-overlay{
      opacity: 1;
    }
    
    .content-image{
      width: 100%;
    }
    
    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    
    .content:hover .content-details{
      top: 50%;
      left: 50%;
      opacity: 1;
    }
    
    .content-details h3{
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }
    
    .content-details p{
      color: #fff;
      font-size: 0.8em;
    }
    
    .fadeIn-bottom{
      top: 80%;
    }
  }
  &__button {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    &--text {
        margin-right: 14rem;
        margin-top: 3rem;
        width: 10rem;
        @include respondAt(767px) {
            margin-right: 3rem;
        }
      padding: 0.5625rem 1.1875rem;
      border-radius: 1.1875rem;
      border: 2px solid #c7751e;
      background: #212223;
      color: #fff;
      text-align: center;
      font-family: "Outfit", sans-serif;
      font-size: 1.3125rem;
      font-style: normal;
      font-weight: 400;
    }
  }
}
