<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./footer.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas Neue:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="footer">
      <img
        class="websitepattern-1-icon1"
        alt=""
        src="./public/websitepattern-11@2x.png"
      />

      <div class="our-speakers">Our Speakers</div>
      <div class="sponsors">Sponsors</div>
      <div class="wanna-attend">WANNA ATTEND?</div>
      <div class="register-or-contact">Register or contact us</div>
      <img class="footer-child" alt="" src="./public/frame-5.svg" />

      <img
        class="tedxshivnadarioe-black1-1-icon"
        alt=""
        src="./public/tedxshivnadarioe-black1-1@2x.png"
      />

      <img
        class="instagram-icons-photography-co"
        alt=""
        src="./public/62837instagramiconsphotographycomputerlogoicon-1@2x.png"
      />

      <img class="icon" alt="" src="./public/1240964-1@2x.png" />

      <img
        class="social-35-linkedin-outline-ico-icon"
        alt=""
        src="./public/social35linkedinoutline-iconicons-1@2x.png"
      />

      <div class="home">Home</div>
      <div class="about-us">About Us</div>
      <div class="footer-item"></div>
      <div class="footer-inner"></div>
      <div class="ellipse-div"></div>
      <div class="footer-child1"></div>
      <div class="rectangle-32default-wrapper">
        <div class="rectangle-32default2">
          <div class="view-all2">Register</div>
          <img class="vector-icon2" alt="" src="./public/vector.svg" />
        </div>
      </div>
      <div class="rectangle-32default-container">
        <div class="rectangle-32default2">
          <div class="view-all2">Contact Us</div>
          <img class="vector-icon2" alt="" src="./public/vector.svg" />
        </div>
      </div>
      <img
        class="chevron-right-fill0-wght700-gr-icon"
        alt=""
        src="./public/chevron-right-fill0-wght700-grad0-opsz481-1@2x.png"
      />

      <img
        class="chevron-right-fill0-wght700-gr-icon1"
        alt=""
        src="./public/chevron-right-fill0-wght700-grad0-opsz481-1@2x.png"
      />
    </div>
  </body>
</html>
