
@import "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap";
body {
	margin: 0;
	line-height: normal;
}
&:root {
	--font-outfit: Outfit;
	--font-bebas-neue: "Bebas Neue";
	--font-size-41xl: 60px;
	--font-size-2xl: 21px;
	--font-size-11xl: 30px;
	--color-white: #fff;
	--color-black: #000;
	--color-gray: #212223;
	--color-chocolate: #c7751e;
	--gap-3xs: 10px;
	--padding-4xs: 9px;
	--padding-lgi: 19px;
	--br-lgi: 19px;
}

.websitepattern1Icon {
  position: absolute;
  top: calc(50% - 512px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.ourSpeakers,
.sponsors {
  position: absolute;
  top: 728px;
  left: 865px;
  line-height: 130%;
  font-weight: 600;
}
.sponsors {
  left: 1100px;
}
.registerOrContact,
.wannaAttend {
  position: absolute;
  left: 215px;
  line-height: 130%;
}
.wannaAttend {
  top: 153px;
  font-size: 71px;
  font-family: var(--font-bebas-neue);
}
.registerOrContact {
  top: 245px;
  font-size: 50px;
  display: flex;
  align-items: center;
  width: 570px;
  height: 59px;
}
.footerChild {
  position: absolute;
  top: 683px;
  left: 671px;
  width: 154px;
  height: 181px;
}
.tedxshivnadarioeBlack11Icon {
  position: absolute;
  top: 844px;
  left: 549px;
  width: 389px;
  height: 40px;
  object-fit: cover;
}
.icon,
.instagramIconsPhotographyCo,
.social35LinkedinOutlineIcoIcon {
  position: absolute;
  top: 920px;
  left: 716px;
  width: 55px;
  height: 37px;
  object-fit: cover;
}
.icon,
.social35LinkedinOutlineIcoIcon {
  left: 784px;
  width: 37px;
}
.social35LinkedinOutlineIcoIcon {
  left: 666px;
}
.aboutUs,
.home {
  position: absolute;
  top: 728px;
  left: 215px;
  line-height: 130%;
  font-weight: 600;
}
.aboutUs {
  left: 418px;
}
.ellipseDiv,
.footerChild1,
.footerInner,
.footerItem {
  position: absolute;
  top: 744px;
  left: 350px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 10px;
  height: 10px;
}
.ellipseDiv,
.footerChild1,
.footerInner {
  top: 746px;
  left: 596px;
}
.ellipseDiv,
.footerChild1 {
  top: 744px;
  left: 825px;
}
.footerChild1 {
  left: 1070px;
}
.vectorIcon,
.viewAll {
  position: absolute;
  margin: 0 !important;
}
.viewAll {
  top: 8px;
  left: 138px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 26px;
  flex-shrink: 0;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  z-index: 0;
}
.vectorIcon {
  top: 15px;
  left: 35px;
  width: 8px;
  height: 14px;
  display: none;
  z-index: 1;
}
.rectangle32default {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray);
  border: 2px solid var(--color-chocolate);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-lgi);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.rectangle32defaultContainer,
.rectangle32defaultWrapper {
  position: absolute;
  top: 334px;
  left: 219px;
  width: 144px;
  height: 43px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.rectangle32defaultContainer {
  left: 393px;
  width: 162px;
}
.chevronRightFill0Wght700GrIcon,
.chevronRightFill0Wght700GrIcon1 {
  position: absolute;
  top: 358px;
  left: 339px;
  width: 11px;
  height: 21px;
  object-fit: cover;
}
.chevronRightFill0Wght700GrIcon1 {
  left: 537px;
}
.footer {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
