<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas Neue:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="stats">
      <img
        class="websitepattern-1-icon"
        alt=""
        src="./public/websitepattern-1@2x.png"
      />

      <div class="attendees">
        <p class="p">
          <span>
            <span>650</span>
            <span class="span">+</span>
          </span>
        </p>
        <p class="attendees1">Attendees</p>
      </div>
      <div class="attendees2">
        <p class="p">
          <span>
            <span>650</span>
            <span class="span">+</span>
          </span>
        </p>
        <p class="attendees3">Attendees</p>
      </div>
      <div class="attendees4">
        <p class="p">
          <span>
            <span>650</span>
            <span class="span">+</span>
          </span>
        </p>
        <p class="attendees5">Attendees</p>
      </div>
      <div class="attendees6">
        <p class="p">
          <span>
            <span>650</span>
            <span class="span">+</span>
          </span>
        </p>
        <p class="attendees7">Attendees</p>
      </div>
      <div class="stats-child"></div>
      <div class="stats-item"></div>
      <div class="stats-inner"></div>
    </div>
  </body>
</html>
