.Main--carousel {
  width: 35rem;
  margin-bottom: 2rem;
  @include respondAt(915px) {
    width: 25rem;
  }
}

// #slider {
//   position: relative;
//   width: 50%;
//   height: 32vw;
// //   margin: 150px auto;
// // margin-left: 15rem;
//   font-family: "Helvetica Neue", sans-serif;
//   perspective: 1400px;
//   transform-style: preserve-3d;
// }

// .radio_pastConf {
//   position: relative;
//   top: 85%;
//   left: 50%;
//   width: 18px;
//   height: 18px;
//   margin: 0 15px 0 0;
//   z-index: 100;
//   opacity: 0.4;
//   transform: translateX(-83px);
//   cursor: pointer;
//   @include respondAt(915px) {
//     top: 115%;
//     width: 16px;
//     left: 60%;
//   }
// }

// input[type="radio"]:nth-child(5) {
//   margin-right: 0px;
// }

// input[type="radio"]:checked {
//   opacity: 1;
// }

// #slider label,
// #slider label img {
//   position: absolute;
//   width: 85%;
//   height: 85%;
//   left: 8%;
//   top: 0;
//   color: white;
//   font-size: 70px;
//   font-weight: bold;
//   border-radius: 3px;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: transform 400ms ease;
//   border-radius: 1rem;
//   @include respondAt(915px) {
//     width: 100%;
//     height: 100%;
//     left: 0;
//   }
// }

// /* Slider Functionality */

// /* Active Slide */
// #s1:checked ~ #slide1,
// #s2:checked ~ #slide2,
// #s3:checked ~ #slide3,
// #s4:checked ~ #slide4,
// #s5:checked ~ #slide5 {
// //   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
//   transform: translate3d(0%, 0, 0px);
// }

// /* Next Slide */
// #s1:checked ~ #slide2,
// #s2:checked ~ #slide3,
// #s3:checked ~ #slide4,
// #s4:checked ~ #slide5,
// #s5:checked ~ #slide1 {
// //   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
//   transform: translate3d(20%, 0, -100px);
// }

// /* Next to Next Slide */
// #s1:checked ~ #slide3,
// #s2:checked ~ #slide4,
// #s3:checked ~ #slide5,
// #s4:checked ~ #slide1,
// #s5:checked ~ #slide2 {
// //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
//   transform: translate3d(40%, 0, -250px);
// }

// /* Previous to Previous Slide */
// #s1:checked ~ #slide4,
// #s2:checked ~ #slide5,
// #s3:checked ~ #slide1,
// #s4:checked ~ #slide2,
// #s5:checked ~ #slide3 {
// //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
//   transform: translate3d(-40%, 0, -250px);
// }

// /* Previous Slide */
// #s1:checked ~ #slide5,
// #s2:checked ~ #slide1,
// #s3:checked ~ #slide2,
// #s4:checked ~ #slide3,
// #s5:checked ~ #slide4 {
// //   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
//   transform: translate3d(-20%, 0, -100px);
// }
